# --------------------------------------- #
#    Luke's Universal GIT Ignore File      #
# - - - - - - - - - - - - - - - - - - - - #
#  Version  : 1.1                         #
#  Author   : Luke Chavers                #
#  Created  : Monday, Jan 26th, 2015      #
#  Based On : https://www.gitignore.io    #
# - - - - - - - - - - - - - - - - - - - - #
#  This .gitignore file is pretty robust  #
# and should be appropriate for most, if  #
#             not all projects.           #
# --------------------------------------- #

# -- Generic / Misc ----------------------#

.tmp
pids
logs
results
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

# -- Node.js -----------------------------#

node_modules

# -- Bower.io --------------------------- #

bower_components
bower

# -- NPM -------------------------------- #

npm-debug.log
npm-debug.log*

# -- Common Editors --------------------- #

*~
*#
.DS_STORE
.netbeans
nbproject

# -- IntelliJ / phpStorm / webStorm ----- #

*.iml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml

# -- Common Render / Output Dirs -------- #

out/
dist/bower_components
dist


# -- Vagrant ---------------------------- #

.vagrant

# -- Project Specific ------------------- #


